/*menu*/
a .nav .navbar-nav .navbar-right{
  margin-bottom: 30%;
}





ul li a{
  font-style: bold;
}


ul li a{
  color: white;
}

.list-group-item{
  background-color: #dae4ed;
  opacity: 0.8;
}

#navbar {
	background-color: #79b8ed;	}
  
p{
  text-align: justify;
}
#logo{
  width: auto;
  height: 300%;
  /*colocar medias queries*/
}

#button{
	background-color: #bcd8ef;
	border: white;
}

.top{
	
	font: Arial, blue;	
}

.h2{
	font: Arial, blue;	
}

.form-signin-heading{
	background-color: transparent;
	border: white;
	font: pink, times, 12em;
}

.sr-only{
	background-color: #bcd8ef;
	border: #79b8ed;
}




#border{
border-radius: 0.5em;
-moz-border-radius: 0.5em;
-webkit-border-radius: 0.5em;
}
#formulario{
background-color: #bcd8ef;
box-shadow: inset 0 0 0.5em black;
}


ul.nav.navbar-nav.navbar-right{

      float: right!important;
    margin-right: 12px; 
}





/*coisa de msn*/

body {
            padding-top: 70px; /*REQUIRED FOR FIXED TOP NAVBAR*/
        }





/*janela cadastrar*/

.button { 
          width: 150px; 
          padding: 10px; 
          background-color: #FF8C00; 
          box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2); 
          font-weight:bold; 
          text-decoration:none; 
        } 
#cover{ 
          position:fixed; 
          top:0; left:0; 
          background:rgba(0,0,0,0.6); 
          z-index:5; 
          width:100%; 
          height:100%; 
          display:none; 
        } 
#loginScreen { 
          height:380px; 
          width:340px;  
          margin:0 auto; 
          position:relative; 
          z-index:10; 
          display:none; 
          background: url(login.png) no-repeat; 
          border:5px solid #cccccc; 
          border-radius:10px; 
          } 

#loginScreen:target, #loginScreen:target + #cover{ 
          display:block; 
          opacity:1;
          /*filter: blur(150px);*/ 
        } 

.cancel { 
          display:block; 
          position:absolute; 
          top:3px; 
          right:2px; 
          background:rgb(245,245,245);
          color:black; 
          height:30px; 
          width:35px; 
          font-size:30px; 
          text-decoration:none; 
          text-align:center; 
          font-weight:bold; 
        } 