.wrapper {
  width: 20%px;
  margin: 1% auto;
}

.desc-wrapper {
  margin: 0 auto;
  margin-bottom: 15px;
  max-height: 120px;
  overflow: hidden;
}

.more-info {
  /* Hide more info to begin with and reveal if text inside desc is too long*/
  display: none;
}

/* Only display 'more' to begin with */
.more-info .less,
.more-info.expand .more {
  display: none;
}
.more-info.expand .less {
  display: inline;
}

/* Misc, just to make things look a bit prettier */
.more-info:focus {
  outline: none;
}
span.glyphicon {
  margin-left: 3px;
}

