#main-display {
  margin: 200px auto;
}

.fab {
  border: none;
  background-color: #e74c3c;
  border-radius: 100%;
  padding: 25px;
  position: absolute;
  left: 80%;
  top: 80%;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 1px grey;
  box-sizing: border-box;
  width: 0;
  height: 0;
}
.fab .fa {
  transform: translate(-50%, -50%);
}
.fab.is-expanding {
  animation: expand 0.5s ease-in;
}
.fab.expanded {
  width: 80%;
  height: 60%;
  border-radius: 3px;
  background-color: #3498db;
  left: 10%;
  top: 20%;
  cursor: auto;
}
.fab.is-closing {
  animation: expand 0.5s ease-out reverse;
}

@keyframes expand {
  33% {
    width: 0;
    height: 0;
    left: 70%;
    top: 70%;
  }
  100% {
    width: 80%;
    height: 60%;
    border-radius: 3px;
    background-color: #3498db;
    left: 10%;
    top: 20%;
  }
}
.expand-close {
  cursor: pointer;
  float: right;
}